extensions:
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	arachne.verifier: Arachne\Verifier\DI\VerifierExtension
	arachne.securityVerification: Arachne\SecurityVerification\DI\SecurityVerificationExtension

nette:
	application:
		mapping:
			*: Tests\Integration\Classes\*Presenter
	session:
		autoStart: true

services:
	authenticator: Tests\Integration\Classes\Authenticator
	authorizatorFactory: Tests\Integration\Classes\PermissionFactory
	authorizator: @authorizatorFactory::create()
